.Mobile{
    margin: 2rem;
    height: 75vh;
    width: 20vw;
    border: 9px solid black;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Description-Box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2vw ;
    height: 40vh;
    width: 12vw;
    background-color: #52E085;
    border-radius: 20px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 1vh;
}
.Description-Text{
    display: flex;
    text-align: left;
}
.Description-Box>h5{
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}
.Services-Box{
    height: 5vh;
    width: 12vw;
    padding: 1vh 2vw;
    background-color: #2DB65E;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}
.Mobile-Heading{
    color: #0EAA47;
}
.Mobile-Description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}